<div class="blog-card">
    <div class="blog-header">
        <a href="/"><h3>{{ title }}</h3></a>
        <h4></h4>Posted by {{ user.username }} on {{ format_date createdAt }}</p>
    </div>
    <p class="blog-body">
       {{ content }}
    </p>
</div>

{{#each comments as |comment| }}
        {{> comments comment }}
    {{/each}}

{{#if logged_in}}
         <form id="new-comment-form" class="" action="">
      <label class="form-label" for="comment-form-input"></label>
      <textarea
        class="comment-form-input"
        name="blog-content"
        id="blog-content-area"
        cols="30"
        rows="10"
        placeholder="Enter your comment here"
      ></textarea>

      <button id="add-comment-btn-id" type="submit" class="btn comment-btn">Add Comment</button>
    </form>
      {{else}}
      <div class="login-btn-holder">
        <a class="btn login-comment-btn" href="/login">Login to comment</a>
        </div>
      {{/if}}